header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: white;
  text-decoration: none;
}

header li a:hover{
  color: yellow
}



.navbar,
.navbar-end,
.navbar-menu,
.navbar-start {
  align-items: stretch !important;
  display: flex !important;
}

.navbar-menu {
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.navbar-item {
  display: flex !important;
}

.navbar-end{
  justify-content: flex-end !important;
  margin-left: auto !important;
}
